@model SelectorDataViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Stock Game</h1>
    @await Html.PartialAsync("DataSelector", Model)
</div>


